
// block style
.banner{
  background-color: hsl(0, 0%, 88%);
  height:250px;
  display: grid;
  place-items: center;
}


// element styles
.banner__text{
  text-align: center;
  padding: 2rem;
}

.banner__icon{
  text-decoration: none;
  color: black;
  font-size: 35px;
}
