// Don't Carry these styles
body {
  background-color: #f5f5f5;
}



// Block
.box {
  background-color: #fff;
  padding: 16px;
}


// Elements
.box__question {

}

.box__title {

}

.box__answer {

}

// Modofiers


// MQs
